.poster-bg {
  /* The image used */
  background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/viVN/Images/zx-onsite-hp-mh-d_tcm337-536153.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 860px;
}
